$yellowFill: #FFCC11;
$darkGreyStroke: #43485C;
$titleBorderColor: #E6E6E6;
$configBoxShadow: rgba(67, 72, 92, 0.2);

$radioCardBorderColor: #ccc;
$radioCardBG: #F6F6FA;
$invertRadioCardBorderColor:#78869E;
$invertRadioCardBG: #43485C;
