.radioCards{
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 38px;
}
app-radio-card{
  flex-basis: 29%;
  margin: 0 23px;
  margin-top: 30px;
}
