<div class="progress-bar-container">
  <div class="progress-bar">
    <div class="tick-mark-container" *ngFor="let stage of stages; index as i">
    <svg *ngIf="isCompletedStage(i)" class="tick-mark" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12.5" cy="13.4968" r="12.5" fill="#FFCC11"/>
      <path d="M8 13.2904L11.4606 16.9968L18 9.99677" stroke="black" stroke-width="3" stroke-linecap="round"/>
      </svg>
    <svg *ngIf="isCurrentStage(i)" class="tick-mark" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12.5" cy="13.4968" r="10.5" fill="white" stroke="#78869E" stroke-width="4"/>
        <circle cx="12.5" cy="13.4968" r="6.5" fill="#78869E"/>
      </svg>
    <svg *ngIf="!isCompletedStage(i) && !isCurrentStage(i)" class="tick-mark" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12.5" cy="13.4967" r="10.5" fill="white" stroke="#EAF2FF" stroke-width="4"/>
      </svg>

    <svg *ngIf="!isLastStage(i) && isCompletedStage(i) && !isRecentlyCompletedStage(i)" class="line" width="171" height="6" viewBox="0 0 171 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="2.92267" x2="171" y2="2.92267" stroke="#FFCC00" stroke-width="5"/>
      </svg>
    <svg *ngIf="!isLastStage(i) && isRecentlyCompletedStage(i)" class="line" width="171" height="6" viewBox="0 0 171 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="2.92267" x2="171" y2="2.92267" stroke="url(#paint0_linear)" stroke-width="5"/>
        <defs>
        <linearGradient id="paint0_linear" x1="0" y1="5.42267" x2="171" y2="5.42271" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFCD11"/>
        <stop offset="0.685083" stop-color="#78869E"/>
        </linearGradient>
        </defs>
      </svg>
    <svg *ngIf="!isLastStage(i)&&!isCompletedStage(i)" class="line" width="171" height="6" viewBox="0 0 171 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="2.92261" x2="171" y2="2.92261" stroke="#EAF2FF" stroke-width="5"/>
      </svg>

      <p class={{getStageClass(i)}}>{{stage.toUpperCase()}}</p>
    </div>
  </div>
</div>
