@import '../../styles/variables';
@import '../../styles/mixins';

.configuration-card{
  @include centerDiv(80%);

  margin-top: 30px;
  margin-bottom: 30px;
}

.configuration-card:hover{
  box-shadow: 0px 15px 40px $configBoxShadow;
}

.title{
  margin-left: 30px;
  font-size: 1.4rem;
}

.question-mark{
  margin-left: 30px;
}

.tick-mark{
  margin-left: 814px;
}


.title-container{
  @include createFlex(default);
  background-color: white;
  height: 78px;
  border-bottom: 1px solid $titleBorderColor;
}
.checked-tick-mark circle{
  fill: $yellowFill;
}
.checked-tick-mark path{
  stroke: $darkGreyStroke;
}
.radioCards{
  @include createFlex(space-evenly);

  background-color: white;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 38px;
}
app-radio-card{
  margin: 0 23px;
  margin-top: 30px;
  flex-basis: 29%;
}


@media screen and (max-width: 768px){
  .title{
    font-size: 1.1rem;
    margin-left: 0;
  }
  .question-mark{
    margin-left: 0;
  }
  .tick-mark{
    margin-left: 0;
  }

  .title-container{
    justify-content: space-around;
  }
  app-radio-card{
    flex-basis: 100%;
  }
  svg{
    height: 25px;
    width: 25px;
  }
}
