.configuration-card{
  width: 80%;
  margin: 0px 10%;
}

.query-container{
  display: flex;
  background-color: white;
  height: 78px;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #E6E6E6;
}

.query{
  display: block;
  width: 200px;
  margin-left: 30px;
  font-size: 20px;
}

.question-mark{
  margin-left: 10px;
}

.tick-mark{
  margin-left: 825px;
}
