.query-container{
  display: flex;
  width: 1062px;
  background-color: white;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 0px;
  border-bottom: 1px solid #E6E6E6;
}

.query{
  margin-left: 30px;
}

.question-mark{
  margin-left: 20px;
}

.tick-mark{
  margin-left: 752px;
}
