.radio-checked{
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.checktick{
  position: absolute;
  left: 6px;
  bottom: 6px;
  padding: 0;
  margin: 0;
}
.round{
  padding: 0;
  margin: 0;
}
